[user]
	name = Cooper Simpson
	email = cooper@coopersimpson.com
	signingkey = 0EC9AF84BC2C1603
[commit]
	gpgsign = true
	template = ~/.customcommitmessage.txt
[core]
	editor = nano
[alias]
	st = status
